{% load static %}
<!DOCTYPE html>

<html>
    <head>
      <title>
        {% if meta_tags.title_text %}
          {{meta_tags.title_text}}
        {% else %}
          SeoGoTop - make SEO easy
        {% endif %}
      </title>

      <meta name="description" content="
        {% if meta_tags.description_text %}
          {{meta_tags.description_text}}
        {% else %}
          SEO tools, Charts, IP, headers and ab tests
        {% endif %}
      "> 

      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
      <link rel="stylesheet" href="{% static "css/custom.css" %}" >
      
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-77907604-1', 'auto');
        ga('send', 'pageview');
      </script>
      <meta name="google-site-verification" content="eTFWcehL5Udix1gfCPGcUimFuJkUFLWBH-edAJiI8Uo" />
    </head>

    <body>
      
        <main>
          
          <nav>
            <div class="nav-wrapper light-blue darken-1">
            <a href="/" class="brand-logo center">SeoGoTop</a>
              <ul class="left hide-on-med-and-down">
                <li><a href="get_ip">Get IP</a></li>
                <li><a href="headers">Headers</a></li>
              </ul>
            </div>
          </nav>

          <div class="container main">
          {% block body_block %}{% endblock %}
          </div>
        </main>

        <footer class="page-footer light-blue darken-1">
          <div class="footer-copyright">
            <div class="container">
            © 2017 seogo.top
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
    </body>
    
</html>